In [1]:
2+3

5

In [1]:
import keras

In [2]:
import tensorflow as tf

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
from keras.models import Sequential

In [7]:
from keras.layers import Dense

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
cement = pd.read_csv("C:\\Users\\Raj Chauhan\\OneDrive\\Desktop\\UNIT-5 Keras\\concrete_data.csv")

In [10]:
cement.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [11]:
cement.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [12]:
cement.shape

(1030, 9)

In [13]:
cement.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [14]:
target = cement['Strength']
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [15]:
pred = cement.iloc[:,:-1]

In [16]:
pred.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [17]:
n_cols = pred.shape[1]
def regression_model():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [18]:
model = regression_model()

In [19]:
list_of_mean_squared_error = []
for cycle in range(50):
    #Randomly split the data into a training set (70%) and a test set (30%):  
    X_train, X_test, y_train, y_test = train_test_split(pred, target, test_size=0.3)
    #Train and test the model at the same time
    res = model.fit(X_train, y_train, epochs=50, verbose=0, validation_data=(X_test, y_test))
    #Find mean_squared_error as last value in history.
    mean_squared_error = res.history['val_loss'][-1]
    #Add value of mean_squared_error for every cycle in list.
    list_of_mean_squared_error.append(mean_squared_error)
    print('Cycle #{}: mean_squared_error {}'.format(cycle+1, mean_squared_error))

Cycle #1: mean_squared_error 1091.591064453125
Cycle #2: mean_squared_error 335.2198791503906
Cycle #3: mean_squared_error 112.23768615722656
Cycle #4: mean_squared_error 63.30178451538086
Cycle #5: mean_squared_error 55.19896697998047
Cycle #6: mean_squared_error 51.00383377075195
Cycle #7: mean_squared_error 54.95713424682617
Cycle #8: mean_squared_error 58.35328674316406
Cycle #9: mean_squared_error 53.676971435546875
Cycle #10: mean_squared_error 52.43400573730469
Cycle #11: mean_squared_error 51.90829086303711
Cycle #12: mean_squared_error 52.26915740966797
Cycle #13: mean_squared_error 48.687355041503906
Cycle #14: mean_squared_error 46.04729080200195
Cycle #15: mean_squared_error 55.66801452636719
Cycle #16: mean_squared_error 52.31385040283203
Cycle #17: mean_squared_error 53.815128326416016
Cycle #18: mean_squared_error 44.338802337646484
Cycle #19: mean_squared_error 63.12550735473633
Cycle #20: mean_squared_error 49.99367904663086
Cycle #21: mean_squared_error 51.28485107421875
Cycle #22: mean_squared_error 59.30906295776367
Cycle #23: mean_squared_error 43.419921875
Cycle #24: mean_squared_error 44.694393157958984
Cycle #25: mean_squared_error 45.913883209228516
Cycle #26: mean_squared_error 56.15727233886719
Cycle #27: mean_squared_error 53.19361877441406
Cycle #28: mean_squared_error 53.791873931884766
Cycle #29: mean_squared_error 49.074954986572266
Cycle #30: mean_squared_error 46.37568664550781
Cycle #31: mean_squared_error 42.08158874511719
Cycle #32: mean_squared_error 51.23774719238281
Cycle #33: mean_squared_error 48.55047607421875
Cycle #34: mean_squared_error 42.777793884277344
Cycle #35: mean_squared_error 57.3956184387207
Cycle #36: mean_squared_error 48.63344192504883
Cycle #37: mean_squared_error 44.96520233154297
Cycle #38: mean_squared_error 44.396812438964844
Cycle #39: mean_squared_error 50.330039978027344
Cycle #40: mean_squared_error 54.689395904541016
Cycle #41: mean_squared_error 47.444461822509766
Cycle #42: mean_squared_error 44.837772369384766
Cycle #43: mean_squared_error 51.86617660522461
Cycle #44: mean_squared_error 42.235862731933594
Cycle #45: mean_squared_error 46.27622985839844
Cycle #46: mean_squared_error 46.28472137451172
Cycle #47: mean_squared_error 44.39125061035156
Cycle #48: mean_squared_error 49.34894561767578
Cycle #49: mean_squared_error 52.233245849609375
Cycle #50: mean_squared_error 52.992061614990234

In [20]:
print('The mean of the mean squared errors: {}'.format(np.mean(list_of_mean_squared_error)))
print('The standard deviation of the mean squared errors: {}'.format(np.std(list_of_mean_squared_error)))

The mean of the mean squared errors: 78.2465210723877
The standard deviation of the mean squared errors: 150.43411170131859

In [21]:
predictors_norm = (pred - pred.mean())/pred.std()
predictors_norm.head(10)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069
5,-0.145138,0.464818,-0.846733,2.174405,-1.038638,-0.526262,-1.291914,0.701883
6,0.945704,0.244603,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
7,0.945704,0.244603,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,-0.279597
8,-0.145138,0.464818,-0.846733,2.174405,-1.038638,-0.526262,-1.291914,-0.279597
9,1.854740,-0.856472,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,-0.279597

In [22]:
n_cols = predictors_norm.shape[1]
def regression_model2():
    model2 = Sequential()
    model2.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model2.add(Dense(1))
    
    model2.compile(optimizer='adam', loss='mean_squared_error')
    return model2

model2 = regression_model2()

In [23]:
list_of_mean_squared_error = []
for cycle in range(50):
    #Randomly split the data into a training set (70%) and a test set (30%):  
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3)
    #Train and test the model at the same time
    res = model2.fit(X_train, y_train, epochs=50, verbose=0, validation_data=(X_test, y_test))
    #Find mean_squared_error as last value in history.
    mean_squared_error = res.history['val_loss'][-1]
    #Add value of mean_squared_error for every cycle in list.
    list_of_mean_squared_error.append(mean_squared_error)
    print('Cycle #{}: mean_squared_error {}'.format(cycle+1, mean_squared_error))

Cycle #1: mean_squared_error 306.1645812988281
Cycle #2: mean_squared_error 155.060302734375
Cycle #3: mean_squared_error 112.7677001953125
Cycle #4: mean_squared_error 78.84153747558594
Cycle #5: mean_squared_error 60.43382263183594
Cycle #6: mean_squared_error 52.0582160949707
Cycle #7: mean_squared_error 55.27973175048828
Cycle #8: mean_squared_error 38.400516510009766
Cycle #9: mean_squared_error 42.07122039794922
Cycle #10: mean_squared_error 34.37748718261719
Cycle #11: mean_squared_error 41.116676330566406
Cycle #12: mean_squared_error 36.87186813354492
Cycle #13: mean_squared_error 39.10004425048828
Cycle #14: mean_squared_error 41.76643371582031
Cycle #15: mean_squared_error 40.62016296386719
Cycle #16: mean_squared_error 34.58079147338867
Cycle #17: mean_squared_error 37.11507797241211
Cycle #18: mean_squared_error 37.20551300048828
Cycle #19: mean_squared_error 38.7450065612793
Cycle #20: mean_squared_error 38.27967834472656
Cycle #21: mean_squared_error 33.81472396850586
Cycle #22: mean_squared_error 33.13518142700195
Cycle #23: mean_squared_error 31.198246002197266
Cycle #24: mean_squared_error 33.962646484375
Cycle #25: mean_squared_error 36.695255279541016
Cycle #26: mean_squared_error 33.49654769897461
Cycle #27: mean_squared_error 36.61726760864258
Cycle #28: mean_squared_error 35.997459411621094
Cycle #29: mean_squared_error 39.92510223388672
Cycle #30: mean_squared_error 37.96335983276367
Cycle #31: mean_squared_error 38.37393569946289
Cycle #32: mean_squared_error 34.03989791870117
Cycle #33: mean_squared_error 33.1644287109375
Cycle #34: mean_squared_error 42.50323486328125
Cycle #35: mean_squared_error 34.04572677612305
Cycle #36: mean_squared_error 30.89572525024414
Cycle #37: mean_squared_error 37.227901458740234
Cycle #38: mean_squared_error 38.144081115722656
Cycle #39: mean_squared_error 32.821861267089844
Cycle #40: mean_squared_error 36.83249282836914
Cycle #41: mean_squared_error 29.761791229248047
Cycle #42: mean_squared_error 36.28873825073242
Cycle #43: mean_squared_error 33.630985260009766
Cycle #44: mean_squared_error 37.75358963012695
Cycle #45: mean_squared_error 36.6248664855957
Cycle #46: mean_squared_error 34.84374237060547
Cycle #47: mean_squared_error 35.7213020324707
Cycle #48: mean_squared_error 32.72218704223633
Cycle #49: mean_squared_error 35.21591567993164
Cycle #50: mean_squared_error 36.99858093261719

In [24]:
print('The mean of the mean squared errors: {}'.format(np.mean(list_of_mean_squared_error)))
print('The standard deviation of the mean squared errors: {}'.format(np.std(list_of_mean_squared_error)))

The mean of the mean squared errors: 47.62546287536621
The standard deviation of the mean squared errors: 42.36763104360956

In [25]:
def regression_model3():
    model3 = Sequential()
    model3.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model3.add(Dense(1))
    
    model3.compile(optimizer='adam', loss='mean_squared_error')
    return model3

model3 = regression_model3()

In [26]:
list_of_mean_squared_error = []
for cycle in range(50):
    #Randomly split the data into a training set (70%) and a test set (30%):  
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3)
    #Train and test the model at the same time
    res = model3.fit(X_train, y_train, epochs=100, verbose=0, validation_data=(X_test, y_test))
    #Find mean_squared_error as last value in history.
    mean_squared_error = res.history['val_loss'][-1]
    #Add value of mean_squared_error for every cycle in list.
    list_of_mean_squared_error.append(mean_squared_error)
    print('Cycle #{}: mean_squared_error {}'.format(cycle+1, mean_squared_error))

Cycle #1: mean_squared_error 145.423583984375
Cycle #2: mean_squared_error 112.03270721435547
Cycle #3: mean_squared_error 114.70726776123047
Cycle #4: mean_squared_error 121.45431518554688
Cycle #5: mean_squared_error 107.71076965332031
Cycle #6: mean_squared_error 97.57627868652344
Cycle #7: mean_squared_error 109.06779479980469
Cycle #8: mean_squared_error 113.20259094238281
Cycle #9: mean_squared_error 96.29987335205078
Cycle #10: mean_squared_error 110.24894714355469
Cycle #11: mean_squared_error 101.28240966796875
Cycle #12: mean_squared_error 105.90457153320312
Cycle #13: mean_squared_error 101.45399475097656
Cycle #14: mean_squared_error 107.23770141601562
Cycle #15: mean_squared_error 107.728271484375
Cycle #16: mean_squared_error 95.9724349975586
Cycle #17: mean_squared_error 94.91609954833984
Cycle #18: mean_squared_error 106.06686401367188
Cycle #19: mean_squared_error 110.05482482910156
Cycle #20: mean_squared_error 101.83663177490234
Cycle #21: mean_squared_error 95.07921600341797
Cycle #22: mean_squared_error 111.10768127441406
Cycle #23: mean_squared_error 105.21991729736328
Cycle #24: mean_squared_error 100.31272888183594
Cycle #25: mean_squared_error 94.87288665771484
Cycle #26: mean_squared_error 93.49109649658203
Cycle #27: mean_squared_error 90.12789154052734
Cycle #28: mean_squared_error 101.24412536621094
Cycle #29: mean_squared_error 84.16629028320312
Cycle #30: mean_squared_error 103.95903778076172
Cycle #31: mean_squared_error 97.56570434570312
Cycle #32: mean_squared_error 103.38188934326172
Cycle #33: mean_squared_error 111.01764678955078
Cycle #34: mean_squared_error 114.78923797607422
Cycle #35: mean_squared_error 97.6810073852539
Cycle #36: mean_squared_error 105.24935150146484
Cycle #37: mean_squared_error 100.1690444946289
Cycle #38: mean_squared_error 94.70269775390625
Cycle #39: mean_squared_error 100.83253479003906
Cycle #40: mean_squared_error 94.46533203125
Cycle #41: mean_squared_error 102.29694366455078
Cycle #42: mean_squared_error 89.5035400390625
Cycle #43: mean_squared_error 101.33615112304688
Cycle #44: mean_squared_error 103.89643096923828
Cycle #45: mean_squared_error 90.3255844116211
Cycle #46: mean_squared_error 89.69772338867188
Cycle #47: mean_squared_error 98.84062957763672
Cycle #48: mean_squared_error 101.93705749511719
Cycle #49: mean_squared_error 79.60250091552734
Cycle #50: mean_squared_error 96.45266723632812

In [27]:
print('The mean of the mean squared errors: {}'.format(np.mean(list_of_mean_squared_error)))
print('The standard deviation of the mean squared errors: {}'.format(np.std(list_of_mean_squared_error)))

The mean of the mean squared errors: 102.27004959106445
The standard deviation of the mean squared errors: 10.223882734888788

In [28]:
def regression_model4():
    model4 = Sequential()
    model4.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model4.add(Dense(10, activation='relu'))
    model4.add(Dense(10, activation='relu'))
    model4.add(Dense(1))
    
    model4.compile(optimizer='adam', loss='mean_squared_error')
    return model4

In [29]:
model4 = regression_model4()

In [30]:
list_of_mean_squared_error = []
for cycle in range(50):
    #Randomly split the data into a training set (70%) and a test set (30%):  
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3)
    #Train and test the model at the same time
    res = model4.fit(X_train, y_train, epochs=50, verbose=0, validation_data=(X_test, y_test))
    #Find mean_squared_error as last value in history.
    mean_squared_error = res.history['val_loss'][-1]
    #Add value of mean_squared_error for every cycle in list.
    list_of_mean_squared_error.append(mean_squared_error)
    print('Cycle #{}: mean_squared_error {}'.format(cycle+1, mean_squared_error))

Cycle #1: mean_squared_error 144.73426818847656
Cycle #2: mean_squared_error 105.8857650756836
Cycle #3: mean_squared_error 78.9774169921875
Cycle #4: mean_squared_error 57.148372650146484
Cycle #5: mean_squared_error 45.28523635864258
Cycle #6: mean_squared_error 34.919376373291016
Cycle #7: mean_squared_error 40.85216522216797
Cycle #8: mean_squared_error 35.772823333740234
Cycle #9: mean_squared_error 40.89531326293945
Cycle #10: mean_squared_error 38.57999801635742
Cycle #11: mean_squared_error 41.31377029418945
Cycle #12: mean_squared_error 36.25386428833008
Cycle #13: mean_squared_error 34.1086311340332
Cycle #14: mean_squared_error 30.153911590576172
Cycle #15: mean_squared_error 36.84632110595703
Cycle #16: mean_squared_error 29.7842960357666
Cycle #17: mean_squared_error 31.162845611572266
Cycle #18: mean_squared_error 34.2867431640625
Cycle #19: mean_squared_error 39.948638916015625
Cycle #20: mean_squared_error 33.51344680786133
Cycle #21: mean_squared_error 34.277870178222656
Cycle #22: mean_squared_error 32.299041748046875
Cycle #23: mean_squared_error 31.907567977905273
Cycle #24: mean_squared_error 32.306583404541016
Cycle #25: mean_squared_error 32.508079528808594
Cycle #26: mean_squared_error 29.22745132446289
Cycle #27: mean_squared_error 31.454139709472656
Cycle #28: mean_squared_error 30.25438690185547
Cycle #29: mean_squared_error 28.753217697143555
Cycle #30: mean_squared_error 35.57914733886719
Cycle #31: mean_squared_error 29.802377700805664
Cycle #32: mean_squared_error 30.83477210998535
Cycle #33: mean_squared_error 27.46725845336914
Cycle #34: mean_squared_error 27.89810562133789
Cycle #35: mean_squared_error 23.208229064941406
Cycle #36: mean_squared_error 24.57172203063965
Cycle #37: mean_squared_error 23.33871078491211
Cycle #38: mean_squared_error 23.80537986755371
Cycle #39: mean_squared_error 29.20147132873535
Cycle #40: mean_squared_error 23.928543090820312
Cycle #41: mean_squared_error 21.902503967285156
Cycle #42: mean_squared_error 26.632417678833008
Cycle #43: mean_squared_error 24.594669342041016
Cycle #44: mean_squared_error 24.194992065429688
Cycle #45: mean_squared_error 26.01908302307129
Cycle #46: mean_squared_error 21.77854347229004
Cycle #47: mean_squared_error 25.438156127929688
Cycle #48: mean_squared_error 21.756086349487305
Cycle #49: mean_squared_error 27.678878784179688
Cycle #50: mean_squared_error 19.20778465270996

In [31]:
print('The mean of the mean squared errors: {}'.format(np.mean(list_of_mean_squared_error)))
print('The standard deviation of the mean squared errors: {}'.format(np.std(list_of_mean_squared_error)))

The mean of the mean squared errors: 35.845007514953615
The standard deviation of the mean squared errors: 20.990025675544487